<h1>New Game</h1>
<div class = "letter">
  <%= @letters.join " " %>
</div>

<br>
<br>
<p>What is the longest word you can find?</p>

<form action="/games" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" placeholder="Type longest Word">
  <input type="submit" value="Play">
</form>
